*
  box-sizing: border-box
body
  font-family: "Mulish", sans-serif
  background-color: $secondary
  color: $text-color

.container
  max-width: 1110px
  margin: auto

img
  max-width: 100%

a
  text-decoration: none

button
  &:active,&:focus
    outline: none !important
  &:hover
    background-color: tomato
  &::-moz-focus-inner
    border: 0 !important

.input
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  background-color: #fff
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
  &::placeholder
    color: #BDBDBD

.message
  resize: none
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  background-color: #fff
  border-radius: 4px
  border: none
  padding: 18px 23px
  &::placeholder
    color: #BDBDBD

label.invalid
  text-decoration: underline

.invalid
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: $primary
  &::placeholder
    color: $primary
    text-decoration: none
label.fix
  position: absolute
  left: 0
  bottom: -30px
  text-decoration: underline
.fix
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: $primary
  &::placeholder
    color: $primary
    text-decoration: none
